<div class="lecture">
  <div *ngIf="lecture" class="container">
    <div class="left">
      <div class="panel">
        <h1>{{ lecture.title}} </h1>
        <p [innerHTML]="lecture.overview" class="safe-html lelecture__text"></p>
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <h3>Mentor:</h3>
        <div class="lecture__teacher">
          <img src="{{ lecture.teacher.photo }}" alt="" class="img-responsive">
          <p>{{ lecture.teacher.name }}</p>
        </div>
        <!--<h3>Bucher</h3>-->
        <!--<div class="books">-->
        <!--<div ng-repeat="book in $ctrl.lecture.literature" class="books__item">-->
        <!--<a href="{{ book.url }}">-->
        <!--<img ng-src="{{ book.book_cover }}" alt="">-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
      </div>

      <!-- TODO: form for registration in course -->
      <!--<div ng-if="!$ctrl.user" class="course-get-started">-->
        <!--<h2>Heute loslegen!</h2>-->

        <!--<form name="courseRegForm"-->
              <!--ng-submit="courseRegForm.$valid && $ctrl.submitShortSignup()" novalidate>-->


          <!--<div class="form-row">-->
            <!--<div class="validation" ng-messages="courseRegForm.first_name.$error" role="alert"-->
                 <!--ng-if="courseRegForm.first_name.$dirty || courseRegForm.$submitted">-->

              <!--<span ng-message="required">Vorname fehlt</span>-->
              <!--<span ng-message="minlength">Vorname ist zu kurz</span>-->
            <!--</div>-->
            <!--<input ng-model="$ctrl.newUser.first_name" class="c-input" type="text" required-->
                   <!--minlength="2" placeholder="Vorname" maxlength="150" name="first_name" >-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="validation" ng-messages="courseRegForm.last_name.$error" role="alert"-->
                 <!--ng-if="courseRegForm.last_name.$dirty || courseRegForm.$submitted">-->

              <!--<span ng-message="required">Nachname fehlt</span>-->
              <!--<span ng-message="minlength">Nachname ist zu kurz</span>-->
            <!--</div>-->
            <!--<input ng-model="$ctrl.newUser.last_name" class="c-input" type="text" required-->
                   <!--placeholder="Nachname" minlength="2" maxlength="150" name="last_name" >-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="validation" ng-messages="courseRegForm.country.$error"-->
                 <!--role="alert" ng-if="courseRegForm.country.$dirty || courseRegForm.$submitted">-->
              <!--<span ng-message="required">Land fehlt</span>-->
            <!--</div>-->
            <!--<div class="c-select c-input">-->
              <!--<select ng-model="$ctrl.newUser.country" name="country" required-->
                      <!--ng-options="country for country in $ctrl.countries">-->
                <!--<option value="">Land</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="validation"-->
                 <!--ng-messages="courseRegForm.city.$error"-->
                 <!--role="alert" ng-if="courseRegForm.city.$dirty || courseRegForm.$submitted">-->
              <!--<span ng-message="required">Stadt fehlt</span>-->
            <!--</div>-->
            <!--<input ng-model="$ctrl.newUser.city" class="c-input" type="text"-->
                   <!--placeholder="Stadt" name="city" minlength="1" required>-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="validation"-->
                 <!--ng-messages="courseRegForm.address.$error"-->
                 <!--role="alert" ng-if="courseRegForm.address.$dirty || courseRegForm.$submitted">-->
              <!--<span ng-message="required">Adresse fehlt</span>-->
            <!--</div>-->
            <!--<input ng-model="$ctrl.newUser.address" class="c-input" type="text"-->
                   <!--placeholder="Adresse" name="address" minlength="1" required>-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="validation" ng-messages="courseRegForm.email.$error"-->
                 <!--role="alert" ng-if="courseRegForm.email.$dirty || courseRegForm.$submitted">-->

              <!--<span ng-message="required">Email is missed</span>-->
              <!--<span ng-message="pattern">Please use correct email format</span>-->
              <!--<span ng-message="unique">Email is already in use</span>-->
              <!--<span ng-message="minlength">Email is too short</span>-->
            <!--</div>-->
            <!--<input ng-model="$ctrl.newUser.email" class="c-input" type="email"-->
                   <!--placeholder="E-mail" required name="email" unique-email-->
                   <!--pattern="^(\S+)@([a-z0-9-]+)(\.)([a-z]{2,4})(\.?)([a-z]{0,4})+$">-->
          <!--</div>-->
          <!--<div class="form-row">-->
            <!--<div class="validation" ng-messages="courseRegForm.password.$error"-->
                 <!--role="alert" ng-if="courseRegForm.password.$dirt || courseRegForm.$submitted">-->
              <!--<span ng-message="required">Email fehlt</span>-->
              <!--<span ng-message="pattern">Bitte überprüfe deine Email</span>-->
              <!--<span ng-message="unique">Deine Email ist schonmal verwendet worden</span>-->
              <!--<span ng-message="minlength">Email ist zu kurz</span>-->
            <!--</div>-->
            <!--<input ng-model="$ctrl.newUser.password" class="c-input"-->
                   <!--placeholder="Password" type="password" name="password"-->
                   <!--pattern="^\S*$" minlength="6" required>-->
          <!--</div>-->

          <!--<div ng-init="$ctrl.newUser.is_company = '0'" class="form-row m-b-15">-->
            <!--<div class="form-row">-->
              <!--<label ng-click="courseRegForm.$setPristine();courseRegForm.$setUntouched();"-->
                     <!--class="c-radio">-->
                <!--<input ng-model="$ctrl.newUser.is_company" value="0" type="radio">-->
                <!--<span> Privates Konto </span>-->
              <!--</label>-->
            <!--</div>-->
            <!--<div class="form-row">-->
              <!--<label ng-click="courseRegForm.$setPristine();courseRegForm.$setUntouched();"-->
                     <!--class="c-radio">-->
                <!--<input ng-model="$ctrl.newUser.is_company" value="1" type="radio">-->
                <!--<span> Firmen Konto </span>-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div ng-if="$ctrl.newUser.is_company == '1'" class="an-slide-in-bot m-t-15">-->
            <!--<div class="form-row">-->
              <!--<div class="validation"-->
                   <!--ng-messages="courseRegForm.company.$error"-->
                   <!--role="alert" ng-if="courseRegForm.company.$dirty || courseRegForm.$submitted">-->
                <!--<span ng-message="required">Firma fehlt</span>-->
              <!--</div>-->
              <!--<input ng-model="$ctrl.newUser.company" class="c-input" type="text"-->
                     <!--placeholder="Firma" name="company" minlength="1" required>-->
            <!--</div>-->
            <!--<div class="form-row">-->
              <!--<div class="validation"-->
                   <!--ng-messages="courseRegForm.tax_id.$error"-->
                   <!--role="alert" ng-if="courseRegForm.tax_id.$dirty || courseRegForm.$submitted">-->
                <!--<span ng-message="required">Steuernummer fehlt</span>-->
              <!--</div>-->
              <!--<input ng-model="$ctrl.newUser.tax_id" class="c-input" type="text"-->
                     <!--placeholder="Steuernummer" name="tax_id" minlength="1" required>-->
            <!--</div>-->
            <!--<div class="form-row">-->
              <!--<div class="validation"-->
                   <!--ng-messages="courseRegForm.zip_code.$error"-->
                   <!--role="alert" ng-if="courseRegForm.zip_code.$dirty || courseRegForm.$submitted">-->
                <!--<span ng-message="required">Postleitzahl fehlt</span>-->
              <!--</div>-->
              <!--<input ng-model="$ctrl.newUser.zip_code" class="c-input" type="text"-->
                     <!--placeholder="Postleitzahl" name="zip_code" minlength="1" required>-->
            <!--</div>-->

          <!--</div>-->

          <!--<div class="terms-text">-->
            <!--<label class="text-left">-->
              <!--<input type="checkbox" ng-model="isTermsChecked">  Ich erkläre mich mit den-->
              <!--<a href="https://investmentpunk.academy/info/agb/"-->
                 <!--target="_blank">AGB`s</a> einverstanden.-->
            <!--</label>-->
          <!--</div>-->
          <!--<button ng-disabled="!isTermsChecked" class="btn btn-blue">JETZT MITGLIED WERDEN</button>-->


        <!--</form>-->


      <!--</div>-->
    </div>
  </div>

  <app-loader *ngIf="!lecture"></app-loader>
</div>

