
<div *ngIf="page" class="outer">

  <div class="top-line clearfix">
    <div class="right">
      <ul>
        <!--<li class="search-wrap">-->
          <!--<div ng-class="{'open' : isSearchOpen}" class="search-input">-->
            <!--<input ng-keyup="$event.keyCode == 13 ? $ctrl.initSearch() : null"-->
                   <!--ng-model="$ctrl.keyword"-->
                   <!--class="c-input-white" type="text">-->
            <!--<i ng-click="isSearchOpen = !isSearchOpen" class="icon icon-search-db-blue"></i>-->
          <!--</div>-->
        <!--</li>-->

        <!--<li ng-show="!isSearchOpen">-->
          <!--<i ng-click="isSearchOpen = !isSearchOpen; $ctrl.keyword = ''" class="icon icon-search-db cup"></i>-->
        <!--</li>-->

        <!--<li ng-if="$ctrl.user" class="top-line-user">-->
          <!--<div class="top-line-user__img img-fit">-->
            <!--<img ng-src="{{ $ctrl.user.photo }}" alt="">-->
          <!--</div>-->
          <!--<div class="top-line-user__name">-->
            <!--{{ $ctrl.user.first_name }} {{ $ctrl.user.last_name }}</div>-->
          <!--<div class="top-line-user-drop">-->
            <!--<p ui-sref="db.index">Dashboard</p>-->
            <!--<p ui-sref="db.profile">Einstellungen</p>-->
            <!--<p ng-click="$ctrl.logout()">Logout</p>-->
          <!--</div>-->
        <!--</li>-->

        <li *ngIf="!user"><a onclick="window.openLink('/db/login')">EINLOGGEN</a></li>
        <li *ngIf="!user"><a onclick="window.openLink('/db/registration')">REGISTRIEREN</a></li>
      </ul>
    </div>
  </div>

  <div class="menu">
    <div class="container">
      <div class="logo cup" [routerLink]="['/']">
        <img src="../../assets/images/desktop-logo@2x.png" alt="">
      </div>
      <ul class="main-nav" [ngClass]="{'open' : isNavOpen}">


        <li pageScroll [pageScrollDuration]="300" [routerLink]="['/']" href="#about">Home</li>

        <li pageScroll [pageScrollDuration]="300" href="#courses">Kurse</li>

        <li pageScroll [pageScrollDuration]="300" href="#mentors">Mentoren</li>

        <li pageScroll [pageScrollDuration]="300" [routerLink]="['events']" href="#events">Events</li>

        <li pageScroll [pageScrollDuration]="300" href="#promoApp">App</li>

        <li [routerLink]="['/prices']">Preise</li>

        <!--TODO registration modal-->
        <li ng-click="$ctrl.showSignupModal()">Jetzt Mitglied werden</li>
      </ul>

      <div class="text-right">
        <li class="trial-link" ng-click="$ctrl.showSignupModal()">Jetzt Mitglied werden</li>
      </div>

      <div (click)="isNavOpen = !isNavOpen"  class="nav-toggle" [ngClass]="{'active' : isNavOpen}">
        <span></span>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>

  <div class="some-jopa"></div>

  <div id="promoApp" class="promo-app">
    <div class="container clearfix">

      <div class="left">
        <p class="promo-app__title">APP</p>
        <p class="promo-app__text safe-html">
          WERDE JETZT MITGLIED UND NIMM DEINE FINANZIELLE SITUATION SELBST IN DIE HAND. NUR DU KANNST DICH GROSS MACHEN UND DABEI WOLLEN WIR DIR HELFEN. FREIHEIT UND WOHLSTAND STEHEN VOR DER TÜR - DU BIST DER SCHLÜSSEL, DER SIE ÖFFNET.
        </p>
        <div class="promo-app__share">
          <a href="https://itunes.apple.com/de/app/investmentpunk-academy/id1226371237"
             class="btn btn-appstore"></a>
          <a href="https://play.google.com/store/apps/details?id=com.kapodistrias.punk"
             class="btn btn-googleplay"></a>
        </div>
      </div>
      <div class="right">
        <img src="../../assets/images/content/iosandroid.png">
      </div>

    </div>
  </div>


  <div class="stats">
    <div class="container">
      <div class="stats__wrap">
        <div class="stats__item">
          <p class="stats__item-number">{{ page.stats_one }}</p>
          <p class="stats__item-text">{{ page.stats_one_title }}</p>
        </div>
        <div class="stats__item">
          <p class="stats__item-number">{{ page.stats_two }}</p>
          <p class="stats__item-text">{{ page.stats_two_title }}</p>
        </div>
        <div class="stats__item">
          <p class="stats__item-number">{{ page.stats_three }}</p>
          <p class="stats__item-text">{{ page.stats_three_title }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class="container">
      <div class="footer__top">
        <div class="left">
          <div routerLink="['/']" class="logo cup">
            <img src="../../assets/images/desktop-logo-white@2x.png">
          </div>
        </div>

        <div class="right">
          <!--TODO add open of signUp modal-->
          <button (click)="''" class="btn btn-blue">JETZT MITGLIED WERDEN</button>
        </div>
      </div>
      <div class="footer__bottom">

        <div class="footer__left">
          <!--TODO update this links when pages will be ready-->
          <p class="copyright-links">
                        <span ui-sref="academy.tickets" class="cup">
                            Event Tickets
                        </span> |
            <span [routerLink]="['/prices']"> Prices
            </span>
            <br>
            <span ui-sref="academy.certificate" class="cup">
                            Zertifikat Überprüfen
                        </span> |

            <span [routerLink]="['/info', page.jobs_slug ]"> Jobs
            </span> |
            <span [routerLink]="['/info', page.privacy_policy_slug ]"> Impressum
            </span> |
            <span [routerLink]="['/info', page.terms_and_conditions_slug ]"> AGB
            </span>
          </p>
        </div>
        <div class="footer__right">
          <a class="contact-link" href="tel:{{ page.phone }}">
            <div [inlineSVG]="'../../assets/images/icons/landing/icon-phone-lp.svg'"
                 class="icon icon-phone-lp"></div>
            {{ page.phone }}
          </a>
          <a class="contact-link" href="mailto:{{ page.email }}">
            <div [inlineSVG]="'../../assets/images/icons/landing/icon-mail-lp.svg'"
                 class="icon icon-mail-lp"></div>
            {{ page.email }}
          </a>
        </div>
        <div class="footer__center">
          <div class="social-icons">
            <a href="{{ page.youtube }}" target="_blank">
              <div [inlineSVG]="'../../assets/images/icons/social/icon-youtube.svg'"></div>
            </a>
            <a href="{{ page.twitter }}" target="_blank">
              <div [inlineSVG]="'../../assets/images/icons/social/icon-twitter.svg'"></div>
            </a>
            <a href="{{ page.facebook }}" target="_blank">
              <div [inlineSVG]="'../../assets/images/icons/social/icon-facebook.svg'"></div>
            </a>
            <a href="{{ page.instagram }}" target="_blank">
              <div [inlineSVG]="'../../assets/images/icons/social/icon-instagram.svg'"></div>
            </a>
          </div>
          <p class="copyright">© Investment Punk Academy. All Rights Reserved.</p>
        </div>

      </div>
    </div>
  </div>

</div>

<app-loader *ngIf="!page"></app-loader>
