<div id="mentors" class="teachers">

  <div class="container">
    <div class="slider-head">
      <div class="left">
        <p class="blue-title">Mentoren</p>
      </div>

      <div class="right slider-head__arrows">
        <div class="arrow"
             (click)="slickPrev()"
             [inlineSVG]="'../../../assets/images/icons/landing/icon-arrow-left-gray.svg'">
        </div>
        <div class="arrow"
             (click)="slickNext()"
             [inlineSVG]="'../../../assets/images/icons/landing/icon-arrow-right-gray.svg'">
        </div>
      </div>
    </div>

    <p class="blue-subtitle m-t-10 m-b-20">LERNE VON DEN BESTEN AUF IHREM GEBIET- HAUTNAH UND PERSÖNLICH. MELDE DICH ZU DEN BEVORSTEHENDEN VERANSTALTUNGEN AN.</p>

    <ngx-slick class="home-slider"
               #slickModal="slick-modal"
               [config]="slideConfig">

      <div ngxSlickItem
           *ngFor="let t of page.teachers"
           [routerLink]="['/teacher', t.id]"
           class="home-slide lp-teacher-slide">

        <div class="c-panel">
          <div class="c-panel__img" [ngStyle]="{'background-image': 'url(' + t.photo + ')'}"></div>
          <div class="c-panel__info">
            <p class="c-panel__title">{{ t.name }}</p>
            <p class="c-panel__descr">{{ t.short_overview | truncate: 140 }}</p>
          </div>
        </div>


      </div>
    </ngx-slick>

  </div>
</div>
