<div id="mentors" class="teachers">
  <div class="container">
    <div class="slider-head">
      <div class="left">
        <p class="blue-title">Mentoren</p>
      </div>
      <div class="right slider-head__arrows">
        <svg src="img/icons/landing/icon-arrow-left-gray.svg"
             class="icon icon-arrow-left-gray slick-teachers-prev"></svg>

        <svg src="img/icons/landing/icon-arrow-right-gray.svg"
             class="icon icon-arrow-right-gray slick-teachers-next"></svg>
      </div>
    </div>
    <p class="blue-subtitle m-t-10 m-b-20">LERNE VON DEN BESTEN AUF IHREM GEBIET- HAUTNAH UND PERSÖNLICH. MELDE DICH ZU DEN BEVORSTEHENDEN VERANSTALTUNGEN AN.</p>

    <!--TEACHERS SLIDER START-->
    <!--<slick prev-arrow=".slick-teachers-prev"-->
           <!--next-arrow=".slick-teachers-next"-->
           <!--infinite=true-->
           <!--speed=600-->
           <!--slides-to-show=3-->
           <!--slides-to-scroll=1-->
           <!--focus-on-select="true"-->
           <!--responsive="$ctrl.slickResponsive"-->
           <!--class="home-slider"-->
           <!--init-onload="true"-->
           <!--data="$ctrl.content.teachers">-->
      <!--<div ui-sref="academy.teacher({ teacherId : teacher.id })" ng-repeat="teacher in $ctrl.content.teachers"-->
           <!--class="home-slide lp-teacher-slide">-->
        <!--<div class="c-panel">-->
          <!--<div ng-init="teacher.photo = teacher.photo ?-->
                                  <!--teacher.photo : '/img/content/panel-holder.png'"-->
               <!--class="c-panel__img"-->
               <!--style="background-image: url('{{ teacher.photo }}');">-->
          <!--</div>-->
          <!--<div class="c-panel__info">-->
            <!--<p class="c-panel__title">{{ teacher.name }}</p>-->
            <!--<p ng-init="limit = 160" class="c-panel__descr">-->
              <!--{{ teacher.short_overview | limitTo: limit }}-->
              <!--{{ teacher.short_overview.length > limit ? '...' : '' }}-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</slick>-->
    <!--TEACHERS SLIDER END-->

  </div>
</div>
