<div class="lp-tickets">
  <div class="container">
    <div *ngIf="!tickets && !loading" class="panel">
      <h1>Seminartickets erneut zuschicken lassen</h1>
      <h2>Bitte gib die Email ein mit der du dich für das Event registriert hast:</h2>
      <div class="clearfix m-b-30 m-t-20">
        <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit(form.value)">
          <div class="f-row f-row-2">
            <div class="f-col">

              <div *ngIf="form.get('email').dirty || f.submitted" class="validation">
                <div *ngIf="form.get('email').hasError('required')">Email fehlt</div>
                <div *ngIf="form.get('email').hasError('pattern')">Bitte überprüfe deine Email</div>
              </div>

              <input formControlName="email" class="c-input">
            </div>
            <div class="f-col">
              <button class="btn btn-blue" [disabled]="form.invalid">ERNEUT ZUSCHICKEN</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="errMessage" class="lp-tickets__error">{{ errMessage }}</div>
    </div>

    <div *ngIf="tickets && !loading" class="panel ticket-table-wrap">
      <h1>Tickets</h1>
      <table class="ticket-table">
        <tr>
          <th>Datum</th>
          <th>Event</th>
          <th>Registered Name</th>
          <th>Ticket Type</th>
          <th>Download</th>
        </tr>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.event_title }}</td>
          <td>{{ ticket.name }}</td>
          <td>{{ ticket.ticket_type | uppercase }}</td>
          <td>
            <a href="{{ ticket.download }}" target="_blank">
              <div class="icon svg-download"
                   [inlineSVG]="'../../../assets/images/icons/landing/icon-download.svg'"></div>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <app-loader *ngIf="loading"></app-loader>
</div>

