<div *ngIf="page" id="events" class="events">
  <div class="container">
    <div class="clearfix m-t-30 m-b-30">
      <div class="left">
        <p class="blue-title">Events</p>
      </div>
      <!--TODO: update ui-sref-->
      <!--ui-sref="academy.event({eventId: event.id})"-->
      <div class="right text-right">
        <button [routerLink]="['events']" class="btn btn-text">ALLE EVENTS</button>
      </div>
    </div>
        <!--TODO: update ui-sref-->
        <!--ui-sref="academy.event({eventId: event.id})"-->
    <div class="events-wrap">
      <div *ngFor="let event of page.events" class="panel panel-new">
        <div class="left" [ngStyle]="{'background-image': 'url('+ event.image +')'}"></div>
        <div class="right">
          <p class="panel__date">{{ event.date }}</p>
          <p class="panel__title">{{ event.title }}</p>
          <p class="panel__subtitle">{{ event.short_description | truncate: 70}}</p>
        </div>
        <button [routerLink]="['/events', event.id]" class="btn btn-text btn-text-min">MEHR DAZU</button>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="!page"></app-loader>
