<div class="course">
  <div *ngIf="course" class="container clearfix">
    <div class="right">
      <div class="panel">
        <p class="right__title">Weitere Kurse:</p>

        <div class="course-list">
          <div *ngFor="let c of otherCourses; let i = index;">
            <div *ngIf="i < coursesLimit" class="course-list__item" [routerLink]="['/kurse', c.slug]">
              <p><span>{{ i + 1 }}.</span> {{ c.title }}</p>
            </div>
          </div>
        </div>

        <div class="course-list-btn">
          <button *ngIf="otherCourses.length > 15"
                  (click)="coursesLimit == 15 ? coursesLimit = 1000 : coursesLimit = 15"
                  class="btn-text btn-small m-t-10">
            {{coursesLimit == 15 ? 'MEHR' : 'WENIGER'}} KURSE</button>
        </div>
      </div>

      <!-- TODO: update this form, when design will be ready-->

      <!--<div ng-if="!$ctrl.user" class="course-get-started">-->
      <!--<h2>Heute loslegen!</h2>-->

      <!--<form name="courseRegForm"-->
      <!--ng-submit="courseRegForm.$valid && $ctrl.submitShortSignup()" novalidate>-->


      <!--<div class="form-row">-->
      <!--<div class="validation" ng-messages="courseRegForm.first_name.$error" role="alert"-->
      <!--ng-if="courseRegForm.first_name.$dirty || courseRegForm.$submitted">-->

      <!--<span ng-message="required">Vorname fehlt</span>-->
      <!--<span ng-message="minlength">Vorname ist zu kurz</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.first_name" class="c-input" type="text" required-->
      <!--minlength="2" placeholder="Vorname" maxlength="150" name="first_name" >-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation" ng-messages="courseRegForm.last_name.$error" role="alert"-->
      <!--ng-if="courseRegForm.last_name.$dirty || courseRegForm.$submitted">-->

      <!--<span ng-message="required">Nachname fehlt</span>-->
      <!--<span ng-message="minlength">Nachname ist zu kurz</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.last_name" class="c-input" type="text" required-->
      <!--placeholder="Nachname" minlength="2" maxlength="150" name="last_name" >-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation" ng-messages="courseRegForm.country.$error"-->
      <!--role="alert" ng-if="courseRegForm.country.$dirty || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Land fehlt</span>-->
      <!--</div>-->
      <!--<div class="c-select c-input">-->
      <!--<select ng-model="$ctrl.newUser.country" name="country" required-->
      <!--ng-options="country for country in $ctrl.countries">-->
      <!--<option value="">Land</option>-->
      <!--</select>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation"-->
      <!--ng-messages="courseRegForm.city.$error"-->
      <!--role="alert" ng-if="courseRegForm.city.$dirty || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Stadt fehlt</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.city" class="c-input" type="text"-->
      <!--placeholder="Stadt" name="city" minlength="1" required>-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation"-->
      <!--ng-messages="courseRegForm.address.$error"-->
      <!--role="alert" ng-if="courseRegForm.address.$dirty || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Adresse fehlt</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.address" class="c-input" type="text"-->
      <!--placeholder="Adresse" name="address" minlength="1" required>-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation" ng-messages="courseRegForm.email.$error"-->
      <!--role="alert" ng-if="courseRegForm.email.$dirty || courseRegForm.$submitted">-->

      <!--<span ng-message="required">Email is missed</span>-->
      <!--<span ng-message="pattern">Please use correct email format</span>-->
      <!--<span ng-message="unique">Email is already in use</span>-->
      <!--<span ng-message="minlength">Email is too short</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.email" class="c-input" type="email"-->
      <!--placeholder="E-mail" required name="email" unique-email-->
      <!--pattern="^(\S+)@([a-z0-9-]+)(\.)([a-z]{2,4})(\.?)([a-z]{0,4})+$">-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation" ng-messages="courseRegForm.password.$error"-->
      <!--role="alert" ng-if="courseRegForm.password.$dirt || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Email fehlt</span>-->
      <!--<span ng-message="pattern">Bitte überprüfe deine Email</span>-->
      <!--<span ng-message="unique">Deine Email ist schonmal verwendet worden</span>-->
      <!--<span ng-message="minlength">Email ist zu kurz</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.password" class="c-input"-->
      <!--placeholder="Password" type="password" name="password"-->
      <!--pattern="^\S*$" minlength="6" required>-->
      <!--</div>-->

      <!--<div ng-init="$ctrl.newUser.is_company = '0'" class="form-row m-b-15">-->
      <!--<div class="form-row">-->
      <!--<label ng-click="courseRegForm.$setPristine();courseRegForm.$setUntouched();"-->
      <!--class="c-radio">-->
      <!--<input ng-model="$ctrl.newUser.is_company" value="0" type="radio">-->
      <!--<span> Privates Konto </span>-->
      <!--</label>-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<label ng-click="courseRegForm.$setPristine();courseRegForm.$setUntouched();"-->
      <!--class="c-radio">-->
      <!--<input ng-model="$ctrl.newUser.is_company" value="1" type="radio">-->
      <!--<span> Firmen Konto </span>-->
      <!--</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div ng-if="$ctrl.newUser.is_company == '1'" class="an-slide-in-bot m-t-15">-->
      <!--<div class="form-row">-->
      <!--<div class="validation"-->
      <!--ng-messages="courseRegForm.company.$error"-->
      <!--role="alert" ng-if="courseRegForm.company.$dirty || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Firma fehlt</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.company" class="c-input" type="text"-->
      <!--placeholder="Firma" name="company" minlength="1" required>-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation"-->
      <!--ng-messages="courseRegForm.tax_id.$error"-->
      <!--role="alert" ng-if="courseRegForm.tax_id.$dirty || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Steuernummer fehlt</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.tax_id" class="c-input" type="text"-->
      <!--placeholder="Steuernummer" name="tax_id" minlength="1" required>-->
      <!--</div>-->
      <!--<div class="form-row">-->
      <!--<div class="validation"-->
      <!--ng-messages="courseRegForm.zip_code.$error"-->
      <!--role="alert" ng-if="courseRegForm.zip_code.$dirty || courseRegForm.$submitted">-->
      <!--<span ng-message="required">Postleitzahl fehlt</span>-->
      <!--</div>-->
      <!--<input ng-model="$ctrl.newUser.zip_code" class="c-input" type="text"-->
      <!--placeholder="Postleitzahl" name="zip_code" minlength="1" required>-->
      <!--</div>-->

      <!--</div>-->

      <!--<div class="terms-text">-->
      <!--<label class="text-left">-->
      <!--<input type="checkbox" ng-model="isTermsChecked">  Ich erkläre mich mit den-->
      <!--<a href="https://investmentpunk.academy/info/agb/"-->
      <!--target="_blank">AGB`s</a> einverstanden.-->
      <!--</label>-->
      <!--</div>-->
      <!--<button ng-disabled="!isTermsChecked" class="btn btn-blue">JETZT MITGLIED WERDEN</button>-->


      <!--</form>-->


      <!--</div>-->
    </div>
    <div class="left">
      <div class="panel course-info">
        <div class="course-info__title">
          {{ course.ordering }}. {{ course.title }}
        </div>
        <p [innerHTML]="course.overview" class="course-info__text safe-html"></p>
      </div>
      <div class="panel course-lectures">
        <h2>Lektionen</h2>
        <div *ngFor="let l of course.lectures" class="course-lecture">
          <div (click)="l.isOpen = !l.isOpen" class="course-lecture__head">{{ l.title }}</div>
          <div class="course-lecture__body" [ngClass]="{'open' : l.isOpen}">
            <p>{{ l.description }}</p>

            <div class="text-center">
              <button [routerLink]="['/kurse', course.slug, l.slug]"
                      class="btn btn-text btn--250">LEKTION ÖFFNEN
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel course-teachers">
        <h2>Mentoren in diesem Kurs:</h2>
        <div class="panel course-teacher" *ngFor="let t of course.teachers">
          <div class="course-teacher__left">
            <img class="img-responsive" src="{{ t.photo }}" alt="">
          </div>
          <div class="course-teacher__right">
            <p class="course-teacher__name">{{ t.name }}</p>
            <p [innerHTML]="t.long_overview" class="course-teacher__descr safe-html"></p>
          </div>
        </div>
      </div>
      <div class="panel course-literature">
        <h2>Bücher:</h2>
        <div class="course-literature__wrap">
          <div class="course-literature__item" *ngFor="let b of course.literature">
            <a href="{{ b.url }}">
              <img class="img-responsive" src="{{ b.book_cover }}" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loader *ngIf="!course"></app-loader>
</div>
