<div class="course">
  <div *ngIf="course" class="container clearfix">
    <div class="right">
      <div class="panel">
        <p class="right__title">Weitere Kurse:</p>

        <div class="course-list">
          <div *ngFor="let c of otherCourses; let i = index;">
            <div *ngIf="i < coursesLimit" class="course-list__item" [routerLink]="['/kurse', c.slug]">
              <p><span>{{ i + 1 }}.</span> {{ c.title }}</p>
            </div>
          </div>
        </div>

        <div class="course-list-btn">
          <button *ngIf="otherCourses.length > 15"
                  (click)="coursesLimit == 15 ? coursesLimit = 1000 : coursesLimit = 15"
                  class="btn-text btn-small m-t-10">
            {{coursesLimit == 15 ? 'MEHR' : 'WENIGER'}} KURSE</button>
        </div>
      </div>

      <app-course-form></app-course-form>

    </div>
    <div class="left">
      <div class="panel course-info">
        <div class="course-info__title">
          {{ course.ordering }}. {{ course.title }}
        </div>
        <p [innerHTML]="course.overview" class="course-info__text safe-html"></p>
      </div>
      <div class="panel course-lectures">
        <h2>Lektionen</h2>
        <div *ngFor="let l of course.lectures" class="course-lecture">
          <div (click)="l.isOpen = !l.isOpen" class="course-lecture__head">{{ l.title }}</div>
          <div class="course-lecture__body" [ngClass]="{'open' : l.isOpen}">
            <p>{{ l.description }}</p>

            <div class="text-center">
              <button [routerLink]="['/kurse', course.slug, l.slug]"
                      class="btn btn-text btn--250">LEKTION ÖFFNEN
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel course-teachers">
        <h2>Mentoren in diesem Kurs:</h2>
        <div class="panel course-teacher" *ngFor="let t of course.teachers">
          <div class="course-teacher__left">
            <img class="img-responsive" src="{{ t.photo }}" alt="">
          </div>
          <div class="course-teacher__right">
            <p class="course-teacher__name">{{ t.name }}</p>
            <p [innerHTML]="t.long_overview" class="course-teacher__descr safe-html"></p>
          </div>
        </div>
      </div>
      <div class="panel course-literature">
        <h2>Bücher:</h2>
        <div class="course-literature__wrap">
          <div class="course-literature__item" *ngFor="let b of course.literature">
            <a href="{{ b.url }}">
              <img class="img-responsive" src="{{ b.book_cover }}" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-loader *ngIf="!course"></app-loader>
</div>
